**/*~

# Eclipse things
/.cproject
/.project
/.settings/

# Autotools things
**/Makefile.in
**/Makefile
aclocal.m4
autom4te.cache/
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver

compile
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
test-driver

config.log
config.status
configure
libtool

